{% extends "lotteryapp/base.html" %}
{% block title %}Entry for Lottery - {{ participant.lottery.title }}{% endblock %}
{% block header %}
<div class="row">
    <div class="page-header">
        <h2>
            Registration Successful For Lottery: {{ participant.lottery.title }}<br/>
        </h2>
        <p><b>Lottery Deadline: {{ lottery_deadline }}</b></p>
        <small></small>
    </div>
    <h4></h4>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Congratulations {{ participant.first_name }}! Your registration was successful.</h3>
        <h3>Your Entry Code is: <b>{{ participant.entry_code }}</b></h3>
    </div>
</div>
{% endblock %}